/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #FFFAE6 26%, #FFF6E9 33.33%, #FFF6E9 33.33%, #FFBF78 66.66%, #FFBF78 66.66%, #002379 100%);
    color: #212121;
}

/* Header Container */
.header-container {
    display: flex;
    width: 100%;
    background-color: transparent;
    color: #212121;
    padding: 20px 0;
    margin-top: 110px; /* Adjust as necessary to not overlap with the navbar */
}

.header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 40px;
    background-color: #FF9F66;
    color: black;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
}

.cta-button:hover {
    background-color: #fff;
    color: #000;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 500px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: rgba(51, 51, 51, 0); /* Initial background color with 0 opacity */
    color: #212121;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.4s;
}

.navbar.scrolled {
    background-color: #FF9F66;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo img {
    width: 100px;
    height: 90px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    position: relative;
}

.navbar .nav-links li {
    margin: 0 10px;
    position: relative;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.4s;
}

.navbar .nav-links li a:hover {
    color: #ffd700;
    background-color: transparent;
}

.navbar .external-link {
    display: flex;
    align-items: center;
}

.navbar .external-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}

#search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #4692DD;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #4692DD;
    color: #333;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    color: grey;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    margin-top: 40px;
    padding-bottom: 30px;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 60%;
}

.button {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #4692DD;
    color: #333;
}

.section-image {
    width: 35%;
}

.section-image img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

/* Community */
.community {
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #333;
}

.community-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.community h2 {
    margin-bottom: 20px;
}

.community-windows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.community-window {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.community-window h3 {
    margin-bottom: 10px;
}

.community-window form label,
.community-window form input,
.community-window form textarea,
.community-window form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.community-window form input,
.community-window form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.community-window form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.community-window form button:hover {
    background-color: #4692DD;
    color: #333;
}

/* Faculty */
.faculty {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-align: center;
}

.faculty-container {
    max-width: 1200px;
    margin: 0 auto;
}

.faculty h2 {
    margin-bottom: 20px;
}

.faculty-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faculty-member {
    cursor: pointer;
    text-align: center;
    margin: 10px;
    flex-basis: 18%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.faculty-member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.faculty-member:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faculty-member:hover .hover-box {
    opacity: 1;
    transform: scale(1);
}

.member-details {
    margin-top: 10px;
}

.member-details h3 {
    margin: 10px 0 5px 0;
}

.member-details p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

.hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.3s;
    border-radius: 10px;
}

.hover-box h3 {
    margin-bottom: 5px;
}

.hover-box p {
    margin: 0;
    font-size: 0.9em;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

.footer a {
    color: #ddd;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: #fff; /* Highlight links on hover */
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.footer .social-icons img:hover {
    transform: scale(1.2); /* Slightly enlarge icons on hover */
}

/* Utility Classes */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.rounded {
    border-radius: 5px;
}

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.bg-primary {
    background-color: #007bff;
    color: #fff; /* Ensure text is readable on dark background */
}

.bg-secondary {
    background-color: #6c757d;
    color: #fff; /* Ensure text is readable on dark background */
}

.bg-success {
    background-color: #28a745;
    color: #fff; /* Ensure text is readable on dark background */
}

.bg-danger {
    background-color: #dc3545;
    color: #fff; /* Ensure text is readable on dark background */
}

.bg-warning {
    background-color: #ffc107;
    color: #333; /* Adjust text color for readability */
}

.bg-info {
    background-color: #17a2b8;
    color: #fff; /* Ensure text is readable on dark background */
}

.bg-light {
    background-color: #f8f9fa;
    color: #333; /* Ensure text is readable on light background */
}

.bg-dark {
    background-color: #343a40;
    color: #fff; /* Ensure text is readable on dark background */
}

.border {
    border: 1px solid #ccc;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(51, 51, 51, 0.9);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .navbar .nav-links li a {
        display: block;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-container {
        flex-direction: column;
    }

    .header-content {
        padding: 10px;
    }

    .header-content h1 {
        font-size: 2em;
    }

    .header-image {
        width: 100%;
        height: auto;
    }

    .slider {
        width: 100%;
        height: auto;
    }

    .section-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .section-image {
        width: 100%;
        margin-top: 20px;
    }

    .community-windows {
        grid-template-columns: 1fr;
    }

    .faculty-members {
        flex-direction: column;
        align-items: center;
    }

    .faculty-member {
        flex-basis: 80%;
        margin: 10px 0;
    }

    #search-input {
        width: 60%;
    }
}